<!-- Footer -->
<div class="bg-dark text-white pt-4 pb-3">
    <div class="container d-flex flex-wrap justify-content-between">
        <div>
            <img src="assets/logo-trabajadores.png" width="60" alt="logo" />
            <p class="mt-2">Síguenos:</p>
            <a href="#"><i class="bi bi-facebook text-white me-2"></i></a>
            <a href="#"><i class="bi bi-instagram text-white"></i></a>
        </div>
        <div>
            <p>Insert your email address here</p>
            <div class="d-flex">
                <input type="email" class="form-control me-2" placeholder="Correo electrónico">
                <button class="btn btn-outline-light">Suscribirse</button>
            </div>
        </div>
    </div>
</div>