<aside class="sidebar-resenas d-flex flex-column p-3">
  <h1 class="h4 fw-bold mb-4 text-dark">Chambitas</h1>
  <nav class="nav flex-column mb-auto">
    
    <a class="nav-link d-flex align-items-center p-3 rounded-3" routerLink="/lista-publicaciones" routerLinkActive="active">
      <i class="bi bi-people-fill me-3"></i>
      Publicaciones de trabajadores
    </a>
    <a class="nav-link d-flex align-items-center p-3 rounded-3" routerLink="/lista-publicaciones-empleador" routerLinkActive="active">
      <i class="bi bi-briefcase-fill me-3"></i>
      Publicaciones de empleadores
    </a>
    <a class="nav-link d-flex align-items-center p-3 rounded-3" routerLink="/resena-trabajadores" routerLinkActive="active">
      <i class="bi bi-chat-dots-fill me-3"></i>
      Reseñas
    </a>
  </nav>
  <div class="nav flex-column">
    <a class="nav-link d-flex align-items-center p-3 rounded-3" href="#">
      <i class="bi bi-gear-fill me-3"></i>
      Ajustes
    </a>
    <a class="nav-link d-flex align-items-center p-3 rounded-3" href="#">
      <i class="bi bi-box-arrow-right me-3"></i>
      Salir
    </a>
  </div>
</aside>